In [1]:
import emat
emat.__version__, emat.__path__

('0.1.4', ['/Users/jpn/Git/private-emat/emat'])

In [2]:
import ema_workbench
ema_workbench.__version__, ema_workbench.__path__

('2.1.CS4', ['/Users/jpn/Git/EMAworkbench/ema_workbench'])

In [3]:
import os, numpy, pandas, functools

In [4]:
road_test_scope_file = emat.package_file('model','tests','road_test.yaml')

s = emat.Scope(road_test_scope_file)
s

In [5]:
s.info()

name: EMAT Road Test
desc: prototype run
constants:
  free_flow_time = 60
  initial_capacity = 100
uncertainties:
  alpha = 0.1 to 0.2
  beta = 3.5 to 5.5
  input_flow = 80 to 150
  value_of_time = 0.001 to 0.08
  unit_cost_expansion = 95.0 to 145.0
  interest_rate = 0.025 to 0.04
  yield_curve = -0.0025 to 0.02
levers:
  expand_capacity = 0.0 to 100.0
  amortization_period = 15 to 50
  debt_type = categorical
  interest_rate_lock = boolean
measures:
  no_build_travel_time
  build_travel_time
  time_savings
  value_of_time_savings
  net_benefits
  cost_of_capacity_expansion
  present_cost_expansion

In [6]:
db = emat.SQLiteDB()

In [7]:
s.store_scope(db)

In [8]:
from emat.experiment.experimental_design import design_experiments
design = design_experiments(s, db=db, n_samples_per_factor=10, sampler='lhs')
design.head()

,alpha,amortization_period,beta,debt_type,expand_capacity,input_flow,interest_rate,interest_rate_lock,unit_cost_expansion,value_of_time,yield_curve,free_flow_time,initial_capacity
experiment,,,,,,,,,,,,,
1,0.184682,38,5.237143,Rev Bond,18.224793,115,0.031645,False,118.213466,0.022518,0.015659,60,100
2,0.166133,36,4.121963,Paygo,87.525790,129,0.037612,True,141.322696,0.052306,0.007307,60,100
3,0.198937,44,4.719838,GO Bond,45.698048,105,0.028445,False,97.783320,0.011923,-0.001545,60,100
4,0.158758,42,4.915816,GO Bond,51.297546,113,0.036234,True,127.224901,0.077527,0.004342,60,100
5,0.157671,42,3.845952,Paygo,22.824149,133,0.039257,False,107.820482,0.027270,0.001558,60,100

In [9]:
from emat.model.core_python import PythonCoreModel
from emat.model.core_python import Road_Capacity_Investment

In [10]:
cm = PythonCoreModel(Road_Capacity_Investment, scope=s, db=db)

In [11]:
lhs_results = cm.run_experiments(design=design)
lhs_results.head()

,alpha,beta,input_flow,value_of_time,unit_cost_expansion,interest_rate,yield_curve,expand_capacity,amortization_period,debt_type,interest_rate_lock,no_build_travel_time,build_travel_time,time_savings,value_of_time_savings,net_benefits,cost_of_capacity_expansion,present_cost_expansion
experiment,,,,,,,,,,,,,,,,,,
1,0.184682,5.237143,115,0.022518,118.213466,0.031645,0.015659,18.224793,38,Rev Bond,False,83.038716,69.586789,13.451927,34.835362,-79.515515,114.350877,2154.415985
2,0.166133,4.121963,129,0.052306,141.322696,0.037612,0.007307,87.525790,36,Paygo,True,88.474313,62.132583,26.341730,177.741192,-205.321480,383.062672,12369.380535
3,0.198937,4.719838,105,0.011923,97.783320,0.028445,-0.001545,45.698048,44,GO Bond,False,75.027180,62.543328,12.483852,15.629037,-151.944318,167.573355,4468.506839
4,0.158758,4.915816,113,0.077527,127.224901,0.036234,0.004342,51.297546,42,GO Bond,True,77.370428,62.268768,15.101660,132.298475,-167.624871,299.923347,6526.325171
5,0.157671,3.845952,133,0.027270,107.820482,0.039257,0.001558,22.824149,42,Paygo,False,88.328990,72.848428,15.480561,56.146908,-3.972940,60.119848,2460.910705

In [12]:
design1 = design_experiments(s, db=db, n_samples=10000, sampler='lhs')
design1.head()

,alpha,amortization_period,beta,debt_type,expand_capacity,input_flow,interest_rate,interest_rate_lock,unit_cost_expansion,value_of_time,yield_curve,free_flow_time,initial_capacity
experiment,,,,,,,,,,,,,
111,0.123747,20,4.461367,Paygo,12.927468,114,0.028945,False,135.353965,0.072864,0.011732,60,100
112,0.117841,43,3.984459,Paygo,3.197269,93,0.032873,False,114.858455,0.006901,0.006717,60,100
113,0.163015,23,4.155181,Paygo,27.154281,148,0.027674,False,121.945315,0.074262,0.012851,60,100
114,0.116006,18,4.697588,GO Bond,56.640528,126,0.031271,True,116.433187,0.058375,0.013356,60,100
115,0.179206,42,4.908325,Paygo,33.059382,80,0.028483,False,112.454890,0.063858,0.007043,60,100

In [13]:
results1 = cm.run_experiments(design=design1)

In [14]:
results1.head()

,alpha,beta,input_flow,value_of_time,unit_cost_expansion,interest_rate,yield_curve,expand_capacity,amortization_period,debt_type,interest_rate_lock,no_build_travel_time,build_travel_time,time_savings,value_of_time_savings,net_benefits,cost_of_capacity_expansion,present_cost_expansion
experiment,,,,,,,,,,,,,,,,,,
111,0.123747,4.461367,114,0.072864,135.353965,0.028945,0.011732,12.927468,20,Paygo,False,73.321718,67.744652,5.577066,46.326107,-42.710863,89.036970,1749.784091
112,0.117841,3.984459,93,0.006901,114.858455,0.032873,0.006717,3.197269,43,Paygo,False,65.295022,64.670973,0.624049,0.400525,-9.187261,9.587786,367.233390
113,0.163015,4.155181,148,0.074262,121.945315,0.027674,0.012851,27.154281,23,Paygo,False,109.870815,78.379441,31.491374,346.113882,197.013533,149.100349,3311.337397
114,0.116006,4.697588,126,0.058375,116.433187,0.031271,0.013356,56.640528,18,GO Bond,True,80.612490,62.503520,18.108970,133.196054,-339.670716,472.866769,6594.837257
115,0.179206,4.908325,80,0.063858,112.454890,0.028483,0.007043,33.059382,42,Paygo,False,63.596143,60.885078,2.711066,13.849905,-85.388236,99.238141,3717.689161

In [15]:
heavy = emat.Box(name='Heavy Volume', scope=s)

In [16]:
heavy.set_lower_bound('input_flow', 120)

In [17]:
heavy

Box: Heavy Volume
   ●  input_flow >= 120

In [18]:
heavy.relevant_features.add('unit_cost_expansion')
heavy.relevant_features.add('value_of_time')
heavy.relevant_features.add('debt_type')
heavy.relevant_features.add('interest_rate_lock')

In [19]:
heavy.get('input_flow', (None,None))[0]

120

In [20]:
# s['net_benefits'].max

In [21]:
heavy.scope

In [22]:
s.get_parameter_names()

['free_flow_time',
 'initial_capacity',
 'alpha',
 'beta',
 'input_flow',
 'value_of_time',
 'unit_cost_expansion',
 'interest_rate',
 'yield_curve',
 'expand_capacity',
 'amortization_period',
 'debt_type',
 'interest_rate_lock']

In [23]:
# y = heavy.visualization(
#     ['no_build_travel_time',
#      'build_travel_time',
#      'time_savings',
#      'value_of_time_savings',
#      'net_benefits',
#      'cost_of_capacity_expansion',
#      'present_cost_expansion'], 
#     data=results1)

In [24]:
heavy

Box: Heavy Volume
   ●           input_flow >= 120
   ◌   interest_rate_lock
   ◌            debt_type
   ◌  unit_cost_expansion
   ◌        value_of_time

In [25]:
# type(y)

In [26]:
# display(y)

In [27]:
# import plotly.graph_objs as go
# import numpy as np
# from ipywidgets import interact
# import ipywidgets as wdgt

# fig = go.FigureWidget().add_histogram().add_histogram()

In [28]:
# fig

In [29]:
# with fig.batch_update():
#     fig.data[0].x = results1[in1]['net_benefits']
#     fig.data[1].x = results1[~in1]['net_benefits']

In [30]:
# fig.layout.update(
#     barmode='stack',
#     showlegend=False,
#     margin=dict(l=10, r=10, t=10, b=10),
#     width=550,
#     height=350,
# );

In [31]:
from emat.analysis.explore import Explore

In [32]:
xp = Explore(s, heavy, results1)

In [33]:
xp.complete()

VBox(children=(HBox(children=(HTML(value='<span style="font-weight:bold;font-size:150%">4,366 Cases Selected o…

In [34]:
raise RuntimeError

RuntimeError:

In [ ]:
xp.status()

In [ ]:
xp.selectors('expand_capacity', 'amortization_period', 'debt_type', 'interest_rate_lock')

In [ ]:
xp.selectors('input_flow', 'debt_type', 'unit_cost_expansion')

In [ ]:
xp.selectors('value_of_time', 'interest_rate_lock')

In [ ]:
xp.viewers('no_build_travel_time','build_travel_time')

In [ ]:
xp.viewers('no_build_travel_time','build_travel_time', 'net_benefits', style='kde')